%select{:id => 'filter'}
	%option{:value => "All"} All
	%option{:value => "Pending"} Pending
	%option{:value => "Approved"} Approved
	%option{:value => "Rejected"} Rejected

%table{:class => 'table'}
	%thead
		%tr
			%th Place
			%th # People
			%th Reason
			%th Time
			%th Status
			%th Change Status
	%tbody
		- @requests.each do |req|
			- if req.status != nil
				%tr{:id =>  'req' + req.id.to_s, :class => req.status.downcase + ' req'}
					%td{:class => "place"}= req.place
					%td{:class => "people"}= req.people
					%td{:class => "reason"}= req.reason
					%td{:class => "time"}= req.time
					%td{:class => "status"}= req.status
					%td{:class => "update_status"}
						%a{:href => edit_request_path(req.id.to_s), :class => 'btn btn-info'}= 'Update Status of this request'

				
