/%p
/%input{:class=>'text',:value=>@filter}

=form_tag calendars_path, :method => :get
=select_tag 'filter', options_for_select([['Building', 'building'], ['Usage', 'usage'], ['Department', 'department']])
=text_field_tag 'keyword', params[:keyword] || "", :placeholder => "Enter Keyword Here"


%table{:class => 'table'}
	- fields = [["Name", nil], ["Email",nil] , ["Visibility", "visib"], ["Fee Required?", "fee_required"], ["Disabled", nil], ["Building", nil], ["Usage", nil], ["", "dept"]]
	%thead
		%tr
			- fields.each do |header, ignored|
				%th= header
	%tbody
		- @calendars.each do |cal|
			%tr{:id => 'cal' + cal.id.to_s}
				- fields.each do |header, field_name|
					- field_name ||= header.downcase
					- case field_name
						- when "name"
							%th.name= link_to "#{cal.name}", show_cal_path(cal)
						- when "fee_required"
							%td.fee_required= cal.fee_required ? 'Yes':'No'
						- when "disabled"
							%td.disabled= cal.disabled ? 'Yes' : 'No'
						- when "dept"
							%td
								%a.dept.btn.btn-info{:href => edit_cal_path(cal.id.to_s)}= 'Update'
						- else
							%th{:class => field_name}= cal.send(field_name)
