/ - if @dept-admin
/ when u uncomment the if push the next line in by an indentation
%a{:href => new_cal_path, :class => 'btn btn-success btn-large create-cal'} Create new calendar
%a{:href => show_requests_path, :class => 'btn btn-info btn-large'} View requests
%a{:href => new_request_path, :class => 'btn btn-success btn-large create-cal'} Create request

/%p
/%input{:class=>'text',:value=>@filter}

/%a{:href => '/', :class => 'btn', :name =>'building'} Filter by Building
/%a{:href => '/', :class => 'btn', :name =>'usage'} Filter by Usage
/%a{:href => '/', :class => 'btn', :name => 'dept'} Filter by Department

%p
%form{:action=>'/'}
	%input{:name=>'keyword',:type=>'text',:id=>'keyword', :label=>'keyword'}
		%br
			%input{:type=>'submit',:value=>'Filter by Building', :name=>'filter',:id=>'building'}
			%input{:type=>'submit',:value=>'Filter by Usage', :name=>'filter',:id=>'usage'}
			%input{:type=>'submit',:value=>'Filter by Department', :name=>'filter',:id=>'dept'}
			%input{:type=>'submit',:Value=>'Show All', :name=>'filter',:id=>'show_all'}


%table{:class => 'table'}
	%thead
		%tr
			%th Name
			%th API key
			%th Visibility
			%th Fee Required?
			%th Disabled
			%th Building
			%th Usage
			%th Department
			%th Update
	%tbody
		- @calendars.each do |cal|
			%tr{:id => 'cal' + cal.id.to_s}
				%td{:class => "name"}= link_to"#{cal.name}", show_cal_path(cal, "cal_view")
				%td{:class => "key"}= cal.key
				%td{:class => "visib"}= cal.visib
				%td{:class => "fee_required"}= cal.fee_required ? 'Yes':'No'
				%td{:class => "disabled"}= cal.disabled ? 'Yes' : 'No'
				%td{:class => "building"}= cal.building
				%td{:class => "usage"}= cal.usage
				%td{:class => "dept"}= cal.dept
				%td
					%a{:href => edit_cal_path(cal.id.to_s), :class => 'btn btn-info'}= 'Update ' + cal.name
