/ - if @dept-admin
/ when u uncomment the if push the next line in by an indentation
%a{:href => 'calendar/new?new=true', :class => 'btn btn-success btn-large create-cal'} Create new calendar

%table{:class => 'table'}
	%thead
		%tr
			%th Name
			%th API key
			%th Visibility
			%th Fee Required?
			%th Enabled
			%th Update
	%tbody
		- @calendars.each do |cal|
			%tr
			%td= cal.name
			%td= cal.key
			%td= cal.visib
			%td= cal.fee_required
			%td true
			%td
				%a{:href => 'calendar/edit/' + cal.id.to_s, :class => 'btn btn-info'}= 'Update ' + cal.name
