/ - if @dept-admin
/ when u uncomment the if push the next line in by an indentation
%a{:href => 'calendar/new?new=true', :class => 'btn btn-success btn-large create-cal'} Create new calendar

%table{:class => 'table'}
	%thead
		%tr
			%th Name
			%th API key
			%th Visibility
			%th Fee Required?
			%th Disabled
			%th Update
	%tbody
		- @calendars.each do |cal|
			%tr{:id => cal.name.gsub(' ', '_')}
			%td{:class => "name"}= link_to"#{cal.name}",show_calendar_path(cal)
			%td{:class => "key"}= cal.key
			%td{:class => "visib"}= cal.visib
			%td{:class => "fee_required"}= cal.fee_required ? 'Yes':'No'
			%td{:class => "disabled"}= cal.disabled ? 'Yes' : 'No'
			%td
				%a{:href => 'calendar/edit/' + cal.id.to_s, :class => 'btn btn-info'}= 'Update ' + cal.name
