/ - if @dept-admin
/ when u uncomment the if push the next line in by an indentation
%a{:href => new_cal_path, :class => 'btn btn-success btn-large create-cal'} Create new calendar
%a{:href => show_requests_path, :class => 'btn btn-info btn-large'} View requests

%table{:class => 'table'}
	%thead
		%tr
			%th Name
			%th API key
			%th Visibility
			%th Fee Required?
			%th Disabled
			%th Update
	%tbody
		- @calendars.each do |cal|
			%tr{:id => 'cal' + cal.id.to_s}
				%td{:class => "name"}= link_to"#{cal.name}", show_cal_path(cal, "cal_view")
				%td{:class => "key"}= cal.key
				%td{:class => "visib"}= cal.visib
				%td{:class => "fee_required"}= cal.fee_required ? 'Yes':'No'
				%td{:class => "disabled"}= cal.disabled ? 'Yes' : 'No'
				%td
					%a{:href => edit_cal_path(cal.id.to_s), :class => 'btn btn-info'}= 'Update ' + cal.name
