/%p
/%input{:class=>'text',:value=>@filter}

%p
%form{:action=>calendars_path}
	%input{:name=>'keyword',:type=>'text',:id=>'keyword', :label=>'keyword', :value=>params[:keyword] ? params[:keyword] : ""}
		%br
			%input{:type=>'submit',:value=>'Filter by Building', :name=>'filter',:id=>'building'}
			%input{:type=>'submit',:value=>'Filter by Usage', :name=>'filter',:id=>'usage'}
			%input{:type=>'submit',:value=>'Filter by Department', :name=>'filter',:id=>'dept'}
			%input{:type=>'submit',:Value=>'Show All', :name=>'filter',:id=>'show_all'}


%table{:class => 'table'}
	- fields = [["Name", nil], ["Email",nil] , ["Visibility", "visib"], ["Fee Required?", "fee_required"], ["Disabled", nil], ["Building", nil], ["Usage", nil], ["", "dept"]]
	%thead
		%tr
			- fields.each do |header, ignored|
				%th= header
	%tbody
		- @calendars.each do |cal|
			%tr{:id => 'cal' + cal.id.to_s}
				- fields.each do |header, field_name|
					- field_name ||= header.downcase
					- case field_name
						- when "name"
							%th{:class => :name}= link_to "#{cal.name}", show_cal_path(cal)
						- when "fee_required"
							%td{:class => field_name}= cal.fee_required ? 'Yes':'No'
						- when "disabled"
							%td{:class => field_name}= cal.disabled ? 'Yes' : 'No'
						- when "dept"
							%td
								%a{:href => edit_cal_path(cal.id.to_s), :class => 'btn btn-info'}= 'Update'
						- else
							%th{:class => field_name}= cal.send(field_name)
