%h1 #{@calendar.name}
%ul
	%li
		Name:
		= @calendar.name
	/ I imagine all the data below this is rendered for admin only
	/ When u uncomment the if push everything affected by the if in by an indentation
	/ - if @dept_admin
	%li
		API key:
		= @calendar.key
		
	%li
		Visibility:
		= @calendar.visib
		
	%li
		Fee required ? :
		= @calendar.fee_required

%a{:href => show_cal_path(@calendar.id, "tab_view"), :class => 'btn btn-small'} Tabular View
%a{:href => show_cal_path(@calendar.id, "cal_view"), :class => 'btn btn-small'} Calendar View

- if @view_type == "cal_view"

- elsif @view_type == "tab_view"
	%table#events
		%thead
			%tr		
				%th  Event
				%th  Date-Time
				%th  Number of Attendees
		%tbody
			- @events.each do |e|
				%tr
					%td= e.to_s	
					%td= e.to_s
					%td= e.to_s
