= content_for :javascripts do
	= javascript_include_tag 'blocked_times.js'

%h1 Block a section of time
= form_for [@calendar, @blocked_time], url: {action: 'create'} do |f|
	= label_tag :date, 'Date'
	= text_field_tag :date ,nil,:required => true
	%div#slider{:style => 'padding-bottom: 10px;'}
	= hidden_field_tag 'start_time[hour]', '', :id => 'startHour'
	= hidden_field_tag 'start_time[min]', '', :id => 'startMin'
	= hidden_field_tag 'end_time[hour]', '', :id => 'endHour'
	= hidden_field_tag 'end_time[min]', '', :id => 'endMin'
	= submit_tag "Submit Request", :class => "btn btn-inverse btn-success", :data => {:confirm => "Ready to submit?"}

A blocked section of time will only prevent future events from being created.