%p
  =form_tag users_path, :method => 'get' do
    %select{:name => "role"}
      %option{:value => "all"}= "All"
      - User.valid_roles.each do |name, number|
        %option{:value => number}
          =name
    =submit_tag "Filter"


%table.table
  %thead
    %tr
      %th Calnet ID
      %th Name
      %th Role
  %tbody
    - @users.each do |user|
      %tr{:id => 'user' + user.id.to_s}
        %td.name= user.calnet_id
        %td.name= user.name
        %td.role= user.role
        %td
          = link_to 'Edit', edit_user_path(user), :class => ['btn', 'btn-info']
        %td
          = link_to 'Delete', user, :method => 'delete', :class => ['btn', 'btn-delete']
