-provide :title, "Create User"
%h1
  = "Create User"

.row
  .span6.offset3
    = form_for(@user) do |f|
      = render 'shared/error_messages'

      = f.label :name
      = f.text_field :name

      = f.label :calnet_id
      = f.text_field :calnet_id

      = f.label :role
      %select{:name => "user[role]"}
        - User.valid_roles.each do |name, number|
          %option{:value => number}
            =name

      = f.submit "Create User"
