<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your request has been <%= @request.status %></h1>
    <p>
      Your request details: <br/>
room : <b><%= @request.place.name %></b><br/>
Number of people: <b><%= @request.people %></b><br/>
Details : <b><%= @request.details %></b><br/>
Start Date and Time: <b><%= @request.start_time %></b><br/>
End Date and Time: <b><%= @request.finish_time %></b><br/>
    </p>
    <% if @request.status.eql? "Approved" %>
    <p>You can use the reserved room on the specified date.
    If you want to cancel your request please let us know.
    Thank you and enjoy the rest of your day!</p>
    <% elsif @request.status.eql? "Rejected" %>
    <p>We are sorry but we can't accomodate your room request right now.
    Please contact us if you have any questions.
    We hope that you have a wonderful day!</p>
    <% end %>
  </body>
</html>
