= bootstrap_form_for @request do |f|
  = f.error_messages
  = f.text_field :place
  = f.text_field :department
  = f.number_field :people
  = label_tag :date
  = text_field_tag :date , nil, :required => true
  = label_tag :time, 'Start Time'
  = time_select :start_time, ""
  = label_tag :finish_time, 'End Time'
  = time_select :finish_time, ""
  = f.text_area :reason, :rows => 5
  = f.text_area :details, :rows => 5
  = f.check_box :course_related
  = f.check_box :accept_different_room
  = submit_tag "Update Request", :class => "btn btn-inverse btn-success"
