= bootstrap_form_for @calendar, :horizontal => true do |f|
  = render 'shared/error_messages'
  = f.text_field :name
  = f.email_field :email
  = f.select :visibility, [["Public", "Public"], ["Private", "Private"]]
  = f.check_box :fee_required
  = f.check_box :disabled
  = f.text_field :building
  = f.text_field :usage
  = f.text_field :department
  = f.text_field :owner
  = f.submit @title, :class => 'btn btn-primary btn-large'
