%h1 #{@calendar.name}
%ul.list-group
	%li.list-group-item
		Name:
		= @calendar.name
	/ I imagine all the data below this is rendered for admin only
	/ When u uncomment the if push everything affected by the if in by an indentation
	/ - if @dept_admin
	%li.list-group-item
		E-mail :
		= @calendar.email
	%li.list-group-item
		Visibility :
		= @calendar.visibility

	%li.list-group-item
		Fee Required ? :
		= @calendar.fee_required

	%li.list-group-item
		Disabled? :
		= @calendar.disabled

	%li.list-group-item
		Building :
		= @calendar.building

	%li.list-group-item
		Usage :
		= @calendar.usage

	%li.list-group-item
		Department :
		= @calendar.department

- if @calendar.access_token == nil
	= "Calendar not yet authenticated with Google Calendars"
	%br
	%a= link_to "Click to Authenticate", oauth_path(@calendar.id)
- else
	%a= link_to "Download Events as CSV", calendar_path(@calendar.id) + ".csv"

%table#events.table
	%thead
		%tr
			%th  Event
			%th  Starting
			%th  Ending
			%th  Number of Attendees
	%tbody
		- @events.each do |e|
			%tr
				%td= e.summary
				%td= e.start.nil? ? "" : e.start.date_time.to_s
				%td= e.end.nil? ? "" : e.end.date_time.to_s
				%td= e.attendees.size

