%h1 #{@calendar.name}
%table.table.table-bordered.table-striped.fit-table
	%tr
		%td
			Name
		%td
			= @calendar.name

	- %w(email visibility).each do |field_name|
		%tr
			%td
				= "#{field_name.titlecase}"
			%td
				= "#{@calendar.send(field_name)}"

	- %w(fee_required disabled).each do |field_name|
		%tr
			%td
				= "#{field_name.titlecase}"
			%td
				= "#{@calendar.send(field_name).to_s.titlecase}"

	- %w(building usage department).each do |field_name|
		- item = @calendar.send(field_name)
		%tr
			%td
				= "#{field_name.titlecase}: "
			%td
				- if item && item.length > 0
					= item
				- else
					%span.text-muted None

	%tr
		%td
			Owner
		%td
			= @calendar.owner.try(:name) || content_tag(:span, "None", :class => 'text-muted')

	- if current_user.is_dept_admin?
		%tr
			%td
				Blocked Times
			%td
				= link_to "View blocked times", calendar_blocked_times_path(@calendar.id), :class => 'btn btn-primary'
				= link_to "Create blocked time", new_calendar_blocked_time_path(@calendar.id), :class => 'btn btn-success'

- if @calendar.access_token == nil
	= "Calendar not yet authenticated with Google Calendar."
	= link_to "Click to Authenticate", oauth_path(@calendar.id)
- else
	= link_to "Download Events as CSV", calendar_path(@calendar.id) + ".csv"
	= simple_table_for @events, with: EventTable
