%h1 #{@calendar.name}
%ul.list-group
	%li.list-group-item
		Name:
		= @calendar.name
	/ I imagine all the data below this is rendered for admin only
	/ When u uncomment the if push everything affected by the if in by an indentation
	/ - if @dept_admin
	%li.list-group-item
		E-mail :
		= @calendar.email
	%li.list-group-item
		Visibility :
		= @calendar.visibility

	%li.list-group-item
		Fee Required ? :
		= @calendar.fee_required

	%li.list-group-item
		Disabled? :
		= @calendar.disabled

	%li.list-group-item
		Building :
		= @calendar.building

	%li.list-group-item
		Usage :
		= @calendar.usage

	%li.list-group-item
		Department :
		= @calendar.department
	%li.list-group-item
		Owner :
		= @calendar.owner
	%li.list-group-item
		Blocked Times:
		= link_to "Click to see this calendar's blocked times", calendar_blocked_times_path(@calendar.id)

- if @calendar.access_token == nil
	= "Calendar not yet authenticated with Google Calendar."
	= link_to "Click to Authenticate", oauth_path(@calendar.id)
- else
	= simple_table_for @events, with: EventTable
	= link_to "Download Events as CSV", calendar_path(@calendar.id) + ".csv"
